@import 'src/styles/animations';
@import 'src/styles/colors';

.content {
  margin: 0 auto;
  max-width: 1440px;
  padding: 9rem 9rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: whitesmoke;
  text-align: left;
  flex-wrap: wrap;
}

.header {
}

.title {
  padding-left: .2rem;
  font-size: 2.4rem;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.mainTitle {
  font-size: 2.5rem;
  word-spacing: .3rem;
}

.mainName {
  color: $textSecondaryDarker;
  text-transform: uppercase;

}

.logo {
  width: 40%;
  padding-right: 15px;
  padding-left: 15px;
}

.logo img {
  width: 100%;
  min-width: 280px;
  height: auto;
}

.typewriterWrapper {
  font-size: 2.2em;
  color: #be6adf;
  font-weight: 600;
}
.typewriterCursor {
  font-size: 2.4em;
  color: #b562d6;
}

@media (max-width: 600px) {
  .content {
    padding: 9rem 3rem 1rem;
  }
}
