# Netlify Config
# Reference:
# https://www.netlify.com/docs/netlify-toml-reference/

# The following redirect is intended for use with most SPAs that handle
# routing internally.
[[redirects]]
  from = "/*"
  to = "/"
  status = 200