.light {
  --txt: #000;
  --txt-secondary: #9c33f5;
  --txt-sec-darker: #9c55f1;
  --bg-layout-home: linear-gradient(307deg, transparent 0%, transparent 57%, #ffffff 57%, #f8f8f8 100%), linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  --bg-home-section-main: none;
  --bg-layout-base: linear-gradient(307deg, transparent 0%, transparent 57%, #ffffff 57%, #f8f8f8 100%), linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
  --bg-primary: #fafafa;
  --bg: #9c47f5;
  --bg-active: rgba(109,32,197,.84);
  --bg-header: transparent;
  --bg-footer: transparent;
  --backdrop: rgba(0, 0, 0, 0.8);
  --card-shadow: rgba(129, 72, 144, 0.1);
  --primary: #9c47f5;
  --border-primary: #9c47f5;
  --logo-primary: #9c47f5;
  --social-icon: #9c47f5;
  --social-shadow: #9c47f5;
  --preloader: #fafafa;
  --bg-modal: #fafafa;
  --modal-border: none;
  --modal-close: #9c47f5;
  --modal-close-icon: #fff;
  --drawer-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  --btn: #9c60f5;
  --btn-hover: #9c47f5;
  --btn-primary-txt: #fff;
  --tags: #9c60f5;
  --tags-txt: #fff;
  --toggle-theme: #000;
}

.dark {
  --txt: #e4e1ff; 
  --txt-secondary: #bb86fc; 
  --txt-sec-darker: #9c47f5; 
  --bg-layout-home: linear-gradient(to left, rgb(30, 18, 46), rgb(15, 8, 39));
  --bg-home-section-main: linear-gradient(to left, rgb(30, 18, 46), rgb(15, 8, 39)); 
  --bg-layout-base: linear-gradient(to left, rgb(15, 8, 39), rgb(15, 8, 3));
  --bg-primary: linear-gradient(to left, rgb(30, 18, 46), rgb(15, 8, 39));
  --bg: rgb(33, 24, 56);
  --bg-active: rgba(178, 121, 216, 0.859);
  --backdrop: rgba(10, 5, 25, 0.75);
  --card-shadow: rgba(40, 32, 62, 0.7);
  --primary: #bb86fc; 
  --border-primary: #bb86fc; 
  --logo-primary: #bb86fc; 
  --social-icon: #9c47f5; 
  --social-shadow: #9c47f5; 
  --preloader: black;
  --bg-modal:  rgba(1, 1, 29, 0.9); 
  --modal-border: 1px solid rgba(255, 255, 255, 0.1); 
  --modal-close: RGB(35, 23, 59); 
  --modal-close-icon: #fff; 
  --drawer-shadow: 0 2px 8px rgba(0, 0, 0, 0.4); 
  --btn: #623686;
  --btn-hover:#623799;
  --btn-primary-txt: #fff; 
  --tags: rgb(129 72 144 / 56%);
  --tags-txt: #fff; 
  --toggle-theme: #fff; 
}
