.content {
  padding: 9rem 9rem 3rem;
}

.about {
  padding-left: .2rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aboutDescription {
}

.aboutImg {
  width: 40%;
  min-width: 320px;
  padding: 4rem 1rem 5rem 1rem;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  padding: 20px
}

.skills {
  @extend .title;
  font-size: 2.2rem;
  padding-top: 3rem;
}

.githubActivity {
  @extend .title;
  font-size: 2.2rem;
  padding-top: 3rem;
}

.purple {
  color: var(--txt-secondary);
}


@media (max-width: 925px) {
  .content {
    padding: 6rem 3rem 1rem;
  }
}

@media (max-width: 1024px) {
  .about {
    flex-wrap: wrap;
  }
}
