.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.techIcon {
  font-size: 4rem;
  margin: 15px;
  padding: 2rem 4rem;
  opacity: 0.93;
  border: 1.7px solid rgba(200, 137, 230, 0.637);
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  display: table;
  box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
  overflow: hidden;
  transition: all 0.4s ease 0s;
  line-height: 0;

  &:hover {
    transform: scale(1.05);
    overflow: hidden;
    border: 2.2px solid rgba(197, 115, 230, 0.883);
  }
}