@import "src/styles/colors";

.layout {
  background: #100D19;
  color: $textPrimary;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
}