.purple {
  color: var(--txt-secondary);
}

.card {
  position: relative;
  width: 30%;
  padding: 50px 25px;
  min-width: 320px;
}

.cardWrapper {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  opacity: 0.9;
  transition: all 0.5s ease 0s;
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459);
  color: var(--txt);
  height: 100%;
  &:hover {
    transform: scale(1.02);
    overflow: hidden;
    box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561);
  }
  & > a {
    width: 100%;
  }
}

.cardBody {
  flex: 1 1 auto;
  padding: 1.25rem 0;
}

.title {
  margin-bottom: .75rem;
  font-size: 1.25rem;
  text-align: center;
}

.description {
  text-align: justify;
  margin-top: 0;
  margin-bottom: 1rem;
}